:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

html {
    font-size: 100%;
}

h1 {
    font-size: 2.25em;
}

p {
    font-size: 0.75em;
}

body {
    font-family: 'Snowburst One', cursive;
    background-color: var(--light);
}

.card {
    padding: 10px;
    margin: 10px;
}

img {
    width: 250px;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
}

@media all and (min-width: 700px) {
    html {font-size: 125%;}
    ul.navigation {
        display: flex;
        justify-content: space-around;
    }
}

@media all and (min-width: 1000px) {
    html {font-size: 150%;}
}

@media all and (max-width: 480px) {
    html {font-size: 100%;}
    p.hidden { display:none }
    ul.navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    ul.navigation a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    ul.navigation li:last-of-type a {
        border-bottom: none;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #121212;
    }

    body a {
        color: #809fff;
    }
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: deepskyblue;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: #1565C0;
}